{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Damilare Samuel - Sodbridge Solutions">
    <meta name="keywords" content="The Diet Muse, Online restaurant in Akure, Quality food, quality restaurants in Lagos, Top Lagos Restaurant, TheDietMuse ">
    <!-- Css -->
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dist/all.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'images/dietmusenew.png' %}" />
    <title>The Diet Muse|Dashboard</title>
</head>

<body>
<!--Container -->
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav" style="background-color:#333">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                    <h1 class="text-white p-2">
                    <img src="{% static 'images/dietmusenew-removebg-preview.png' %}" style="height:2rem; width:60px;" alt="Logo" class="img-fluid"> </h1>
                </div>
                <div class="p-1 flex flex-row items-center">
                   <!--  <a href="#" class="text-white p-2 mr-2 no-underline hidden md:block lg:block">Hello</a>
 -->                    
                    <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">Hello {{ request.user.username }} 
                        <img onclick="profileToggle()" class="inline-block h-8 w-8 rounded-full" src="{{ request.user.profile.photo.url }}" alt="user picture">
                    </a>
                    <!-- <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-1 mr-1 pin-r">
                        <ul class="list-reset">
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Change password</a></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                          <li><hr class="border-t mx-2 border-grey-ligght"></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar" style="background-color:transparent;" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

                <ul class="list-reset flex flex-col">
                    <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
                        <a href="{% url 'index' %}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fas fa-tachometer-alt float-left mx-2"></i>
                            Home
                            <span><i class="fas fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                    <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
                        <a href="{% url 'dashboard' %}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fas fa-user float-left mx-2"></i>
                            Profile
                            <span><i class="fas fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                    <li class="w-full h-full py-3 px-2 border-b border-light-border">
                        <a href="{% url 'food-menu' %}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fas fa-grip-horizontal float-left mx-2"></i>
                            View menu
                            <span><i class="fa fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                    {% if request.user.username == 'gabby' %}
                        <li class="w-full h-full py-3 px-2 border-b border-light-border">
                        <a href="{% url 'view-orders' %}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fab fa-wpforms float-left mx-2"></i>
                            Customers orders
                            <span><i class="fa fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                   {% else %}
                    <li class="w-full h-full py-3 px-2 border-b border-light-border">
                        <a href="{% url 'make-order' %}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fab fa-wpforms float-left mx-2"></i>
                            Make an order
                            <span><i class="fa fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                     {% endif %}
                    <li class="w-full h-full py-3 px-2 border-b border-light-border">
                        <a href="{% url 'order-history' %}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fas fa-table float-left mx-2"></i>
                            Order history
                            <span><i class="fa fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                    <li class="w-full h-full py-3 px-2 border-b border-light-border">
                        <a href="{% url 'password_change' %}"
                           class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fas fa-lock float-left mx-2"></i>
                            Change password
                            <span><i class="fa fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                    <li class="w-full h-full py-3 px-2 border-b border-300-border">
                        <a href="{% url 'logout' %}" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                            <i class="fas fa-angle-right float-left mx-2"></i>
                            Logout
                            <span><i class="fa fa-angle-right float-right"></i></span>
                        </a>
                    </li>
                        </ul>
                    </li>
                </ul>

            </aside>
            <!--/Sidebar-->

            {% block content %}

            {% endblock %}

        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2" style="background-color:#333;">
            <div style="display:flex; text-align:center; margin: auto;">
                <div class="flex flex-1 mx-auto">&copy; 2022. The DietMuse</div>
                <div class="flex flex-1 mx-auto font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline"> Designed with love by:<a class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline" href="https://sodbridgeacademy.com/" target=" _blank"> Sodbridge</a></div>
            </div>
        </footer>
        <!--/footer-->

    </div>

</div>
<script src="{% static 'main.js' %}"></script>
</body>

</html>