{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<main class="bg-white-500 flex-1 p-6 overflow-hidden">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline" href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline" href="#">Order {{ object.id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page"> <span class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">Detail</span></li>
  </ol>
</nav>

  <div class="flex flex-col">
        <!--Grid Form-->

    <div class="p-8 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"> <p> Your
      <svg class="mb-2 w-10 h-10 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 5a3 3 0 015-2.236A3 3 0 0114.83 6H16a2 2 0 110 4h-5V9a1 1 0 10-2 0v1H4a2 2 0 110-4h1.17C5.06 5.687 5 5.35 5 5zm4 1V5a1 1 0 10-1 1h1zm3 0a1 1 0 10-1-1v1h1z" clip-rule="evenodd"></path><path d="M9 11H3v5a2 2 0 002 2h4v-7zM11 18h4a2 2 0 002-2v-5h-6v7z"></path></svg> has been received successfully!</p> <hr>
      
      <li><b>Order Meal: </b>{{ object.menu.name }} </li> <hr>
      <li><b>Order Price:</b> N{{ object.menu.price }}</li> <hr>
      <li><b>Total Plates: {{ object.no_of_plates }}</li> <hr>
      <li><b>Delivery Address:</b> {{ object.delivery_address }}</li> <hr>
      <li><b>Order Message:</b> {{ object.message }}</li> <hr>
      <li>Order Status:
        {% if object.order_status  == 'Received' %}
          <span style="color:blue;">Received</span>
        {% elif object.payment_status  == 'Incoming' %}
          <span style="color:yellow;">Incoming</span>
        {% elif object.payment_status  == 'Delivered' %}
          <span style="color:green;">Delivered</span>
        {% elif object.payment_status  == 'Rejected' %}
          <span style="color:red;">Rejected</span>
       {% endif %}
     </li> <hr>
      <li><b>Transaction ID:</b> {{ object.order_id }}</li> <hr>
      <li><b>Total Order Cost:</b><span style="color:green"> N{{ object.total_cost }}</span></li> <hr>
      <li><b>Order Date:</b> {{ object.date_created }} </li> <hr>
      <a href="https://paystack.com/pay/thedietmuse" target="_blank" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 btn-block btn-primary">
      Proceed to Payment
      </a>
      
      
</div>
<!--/Grid Form-->
  
  </div>
</main>
<!--/Main-->
{% endblock content %}