{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">FOOD MENU UPDATE</h4>
        <form class="form-sample" method="POST">
          <p class="card-description">
            Hello<code>Gabby!</code> You can update the weekly food menu here.  
          </p>
          <div class="row">
            <div class="col-md-10">
              <div class="form-group row">
                <div class="col-sm-9">
                  {{ form|crispy }}
                  {% csrf_token %}
                  <div class="text-center"><button class="btn btn-outline-primary" type="submit">Update Food Menu</button></div>
                </div>
              </div>
            </div>                      
          </div>
          
        </form>
      </div>
    </div>
  </div>

{% endblock content %}