{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


 <!--Main-->
<main class="bg-white-500 flex-1 p-3 overflow-hidden">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline" href="{% url 'dashboard' %}">Dashboard</a></li>
<!--         <li class="breadcrumb-item"><a class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline" href="#">Customer Orders</a></li> -->
        <li class="breadcrumb-item active" aria-current="page"> <span class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">Customer Orders</span></li>
      </ol>
    </nav>

    <div class="flex flex-col">
        <!-- Card Sextion Starts Here -->
        <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
            <!--Horizontal form-->
            <div class="mb-2 md:mx-2 lg:mx-2 border-solid border-gray-200 rounded border shadow-sm w-full md:w-1/2 lg:w-1/2">
                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                    Order Analytics
                </div>
                <div class="p-3">
                    <table class="table-fixed">
                        <thead>
                          <tr>
                            <th class="border-b bg-black text-white w-1/4 px-4 py-2">Total Orders</th>
                            <th class="border-b bg-black text-white w-1/4 px-4 py-2">Pending Orders</th>
                            <th class="border-b bg-black text-white w-1/4 px-4 py-2">Total Order Cost</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="border-b bg-blue-400 text-white px-4 py-2">{{ total_customer_orders }}</td>
                            <td class="border-b bg-yellow-400 text-white px-4 py-2">XXXXXX</td>
                            <td class="border-b bg-red-400 text-white px-4 py-2">N{{ total_customer_order_costs }}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/Horizontal form-->
            <!--Underline form-->
            <div class="mb-2 md:mx-2 lg:mx-2 border-solid border-gray-200 rounded border shadow-sm w-full md:w-1/2 lg:w-1/2">
                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                    Customer Analytics
                </div>
                <div class="p-3">
                    <table class="table-fixed">
                        <thead>
                          <tr>
                            <th class="border-b bg-black text-white w-1/4 px-4 py-2">Total Customers</th>
                            <th class="border-b bg-black text-white w-1/4 px-4 py-2">Total Customer Delivery</th>
                            <th class="border-b bg-black text-white w-1/4 px-4 py-2">Last Customer</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="border-b bg-green-400 text-white px-4 py-2">YYYYYY</td>
                            <td class="border-b bg-blue-400 text-white px-4 py-2">YYYYY</td>
                            <td class="border-b bg-gray-400 text-white px-4 py-2">Unknown</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--/Underline form-->
        </div>
        <!-- /Cards Section Ends Here -->

        <!--Grid Form-->
        <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
            <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                    Order Details
                </div>
                <div class="p-3">
                    <table class="table-responsive w-full rounded">
                        <thead>
                          <tr>
                            <th class="border w-1/7 px-4 py-2">S/N</th>
                            <th class="border w-1/7 px-4 py-2">Menu</th>
                            <th class="border w-1/7 px-4 py-2">Cost</th>
                            <th class="border w-1/7 px-4 py-2">Customer</th>
                            <th class="border w-1/7 px-4 py-2">Transaction ID</th>
                            <th class="border w-1/7 px-4 py-2">Payment Status</th>
                            <th class="border w-1/7 px-4 py-2">Date of Order</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for history in customer_orders %}
                            <tr>
                              <td class="border px-4 py-2">{{ forloop.counter }}</td>
                                <td class="border px-4 py-2">{{ history.menu }}</td>
                                <td class="border px-4 py-2"> N{{ history.menu.price }}</td>
                                <td class="border px-4 py-2">{{ history.user }}</td>
                                <td class="border px-4 py-2">{{ history.order_id }}</td> 
                                {% if history.payment_status == 'Pending' %}
                                  <td class="border px-4 py-2" style="color:yellow;">Pending</td>
                                {% elif history.payment_status == 'Refunded' %}
                                  <td class="border px-4 py-2" style="color:orangered;">Refunded</td>
                                {% else %}
                                <td class="border px-4 py-2" style="color:green;">Received</td>
                                {% endif %}
                                <td class="border px-4 py-2">{{ history.date_created|date:'M d, Y' }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/Grid Form-->
    </div>
</main>
<!--/Main-->
{% endblock content %}

