<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Diet Muse - Delivering happiness to your tastebuds </title>
  <meta content="The Diet Muse helps you prepare and deliver food to your doorstep anywhere and wherever you are.
  Our culinary skills is one that would make you forget going teh restaurant way. When you go through our variety of dishes and have found the delicacy that suit your taste and wet your appetite, you can simply place your order online or by phone." name="description">
  <meta content="Online restaurant in Akure, Quality food in Lagos, Online restaurant in Lagos, Top Lagos Restaurant, The Diet Muse, food in Lagos, food in Akure, fast food in Lagos. Quality food, quality restaurants in Lgaos." name="keywords">
  <meta name="author" content="Damilare Samuel - Sodbridge Solutions">

  <!-- Favicons -->
  <link href="{% static 'images/dietmusenew.png' %}" rel="icon">
  <link href="{% static 'images/dietmusenew.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span><b>+234 8100550674</b></span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> <b>Mon-Sat: 9AM - 5PM, Sun: 2PM - 6PM</b></span></i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      <!-- <span class="logo me-auto me-md-0"><a href="{% url 'index' %}">The Diet Muse</a></span> -->
        <!-- Uncomment below if you prefer to use an image logo -->
       <a href="{% url 'index' %}" class="logo me-auto me-lg-0"><img src="{% static 'images/dietmusenew-removebg-preview.png' %}" style="height:; width:;" alt="Logo" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
          <li><a class="nav-link scrollto" href="#events">Events</a></li>
          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="{% url 'order-history' %}">Track Order</a></li> 
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="{% url 'make-order' %}" class="book-a-table-btn scrollto d-none d-lg-flex">Make an order</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>The Diet Muse</span></h1>
          <h2>Delivering happiness to your tastebuds!</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="{% url 'make-order' %}" class="btn-book animated fadeInUp scrollto">Make an Order</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <!--  <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a> -->
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img style="height:450px; width:550px;" src="{% static 'assets/img/chefs/chef1.jpeg' %}" alt="about_chef picture">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Who We Are</h3> <br>
            <p class="fst-italic">
              The Diet Muse is an online restaurant that provide different tasty delicacies to our customers. We help you prepare and deliver food to your doorstep anywhere and wherever you are in Lagos and Akure. 
              <br>
              Our culinary skills is one that would make you forget going the restaurant way. When you go through our variety of dishes in our menu and have found the delicacy that suit your taste and wet your appetite, reach out to us by submitting your order.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>One time booking from your smart phone.</li>
              <li><i class="bi bi-check-circle"></i>Seamless experience from a single click to delivery at your doorstep.</li>
              <li><i class="bi bi-check-circle"></i>We render services such as catering, weddings, anniversaries etc.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div  class="col-lg-4">
            <div style="height: 320px;" class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Quality and Tasty Food</h4>
              <p>We offer quality and tasty delicacies to our customers. Our delicacies cuts across different tribes and cultures.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div style="height: 320px;" class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Variety</h4>
              <p>We have a range of varieties of food you can choose from. Our menu varies from many tribes of Nigeria including Yoruba, Igbo and Hausa.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div style="height: 320px;" class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>Organization</h4>
              <p>While we don't have a centralized location, you can be rest assured of an organized and seamless experience with us. Reach out to us with your desire and we'll deliver it to your doorstep.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

         <!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-specialty">Specialty</li>
            </ul>
          </div>
        </div>  -->
        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
          {% for menu in food_menu %}
          <div class="col-lg-6 menu-item filter-starters">
            <img src="{{ menu.image.url }}" class="menu-img" width="50px" height="50px" alt="menu images">
            <div class="menu-content">
              <a href="{% url 'menu-detail' menu.id %}">{{ menu.name }}</a><span>N{{ menu.price }}</span>
            </div>
            <div class="menu-ingredients">
              {{ menu.category }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
     </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              {% for name in specials %}
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#{{name.slug}}">{{ name }}</a>
              </li>
               {% endfor %}
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              {% for special in specials %}
              <div class="tab-pane " id='{{ special.slug }}'>
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>{{ special }}</h3>
                    <p class="fst-italic">{{ special.description }}</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img style="height:200px; width:200px; border-radius: 50%;" src="{{ special.image.url }}" alt="specials picture" class="img-fluid">
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Events</h2>
          <p>We cater for events such as...</p>
        </div>
        <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for event in events %}
            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img style="width:500px;height:250px;" src=" {% if event.image %} {{ event.image.url }} {% else %} {% static 'assets/img/birthdays.jpeg' %} {% endif %} " class="img-fluid" alt="event picture">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>{{ event.name }}</h3>
                  <div class="price">
                    <p><span>&#x20A6;{{ event.price }}</span></p>
                  </div>
                  <p class="fst-italic">
                    {{ event.description }}
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
            <div class="swiper-slide">
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- End Events Section -->    

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for t in testimonials %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ t.testimony }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{{ t.image.url }}" class="testimonial-img" style="height:100px;" alt="testifiers image">
                <h3>{{ t.name }}</h3>
                <h4>{{ t.profesion }}</h4>
              </div>
            </div>
            <!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Gallery</h2>
          <p>Some Photos From Our Restaurant</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-0">
          {% for g in gallery %}
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{{ g.image.url }}" class="gallery-lightbox" data-gall="gallery-item">
                <img src="{{ g.image.url }}" alt="Gallery Image" style="display:flex; padding:8px; width:100%; height:200px"  class="img-fluid">
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Gallery Section -->


    <!-- ======= Chefs Section ======= -->
   <!--  <section id="chefs" class="chefs">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Chefs</h2>
          <p>Our Proffesional Chefs</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Master Chef</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Patissier</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Cook</span>
                </div>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> --><!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>
       <div data-aos="fade-up"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.4162328758616!2d5.137566214823863!3d7.307047315585262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1047894972021f41%3A0xd84c4e01abf1d646!2sFederal%20University%20of%20Technology%20Akure!5e0!3m2!1sen!2sng!4v1666352960752!5m2!1sen!2sng" width="600" height="450" style="border:0; width: 100%; height: 350px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="container" data-aos="fade-up">

        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Mon - Sat:
                  9AM - 5PM <br>
                  Sun: 2PM - 6PM
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info">
             <!--  <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div> -->   
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto: bookthedietmuse@gmail.com">bookthedietmuse@gmail.com</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info">
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+234 810 055 0674</p>
              </div>
            </div>
          </div>

         <!--  <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'contact' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" class="form-control" name="name" id="" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
              <<div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button class="btn btn-outline-primary" type="submit">Send Message</button></div>
            </form>

          </div> -->

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

  </main><!-- End #main -->

    <!-- WhatsApp Contact from WATI -->
    <script>
        var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?62323';
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = url;
        var options = {
        "enabled":true,
        "chatButtonSetting":{
          "backgroundColor":"#4dc247",
          "ctaText":"",
          "borderRadius":"25",
          "marginLeft":"0",
          "marginBottom":"150",
          "marginRight":"50",
          "position":"right"
        },
        "brandSetting":{
          "brandName":"The Diet Muse",
          "brandSubTitle":"Typically replies within 15 mins",
          // "brandImg":"<img src='{% static 'assets/img/thedietmuse_logo.jpeg' %}' style='height:; width:;'' alt='Logo' class='img-fluid'>",
          // "brandImg":"https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
          "welcomeText":"Hello!\nHow can we help you?",
          "messageText":"Hello The DietMuse, I'd like to make an order.",
          "backgroundColor":"#0a5f54",
          "ctaText":"Start Chat",
          "borderRadius":"30",
          "autoShow":false,
          "phoneNumber":"+2348100550674"
        }
        };
        s.onload = function() {
            CreateWhatsappChatWidget(options);
        };
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    </script>
        <!-- END OF WHATSAPP  -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>The diet muse</h3>
              <p>
                
                <strong>Phone:</strong>+234 810 055 0674<br><br>
                <strong>Email:</strong> <a href="mailto: bookthedietmuse@gmail.com">bookthedietmuse@gmail.com</a><br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.twitter.com/thedietmuse" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/thedietmuse/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/thedietmuse" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://youtube.com/channel/UCBf6NDLQ7MQw6GT-iNnWx6w" class="youtube"><i class="bx bxl-youtube"></i></a>
<!--                 <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/in/akintan-abosede-gabriella-008224176" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#specials">Services</a></li>
              <li><i class="bx bx-chevron-right"></i><a href="{% url 'order-history' %}">Track Order</a></li>
<!--               <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Wedding events</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Birthday parties</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Picnics</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hampers</a></li>
<!--               <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter to enjoy discounts and promos!</p>
            <form action="" method="">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <span id="date" ></span> <strong><span>The DietMuse</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://sodbrideacademy.com/solutions">Sodbridge Solutions</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<!--   <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script> -->
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/todolist.js' %}"></script>
  <script>
    dt = new Date();
    var year = dt.getFullYear();
    document.getElementById('date').innerHTML = year
    console.log('Current Year: ', year)
  </script>


</body>

</html>